#include<stdio.h>
#include<string.h>

int main(){


char dizi[]={"[          ]"},  dizi2[]={"[          ]"};;
int i = 1;

while (1)
{
   dizi[i++] = '#';  puts(dizi);

  sleep(1);
   if (i % (sizeof(dizi) - 3) == 1){ system("clear"); puts(dizi2); strcpy(dizi,dizi2);  i = 1;}
  
  system("clear");

}


  return 0;
}
